.card {
  width: 250px;
  height: 300px;
  margin: 30px auto;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 5px 3px 2px #979dac;
}
.card:hover {
  background-color: #f4a261;
  transform: translateY(-20px);
}
