.card-img {
  width: 100%;
  height: 90%;
}
.movie-year {
  width: 100%;
  font-size: medium;
  color: #f0fff1;
  text-align: center;
  height: auto;
  margin: 10px auto;
  font-weight: bold;
}
.card {
  width: 14rem;
  height: 15rem;
  margin: 30px auto;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 5px 3px 2px #979dac;
}
.card:hover {
  background-color: #f4a261;
  transform: translateY(-20px);
}
