.search-bar {
  width: 400px;
  outline: none;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
  padding-left: 20px;
  border-radius: 8px;
}

@media (max-width: 415px) {
  .search-bar {
    width: 300px;
  }
}
